<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
    xmlns="http://ibatis.apache.org/dataMapper"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
    <setting useReflectionOptimizer="false"/>
    <setting validateSqlMap="true"/>
  </settings>

  <providers resource="./Db/providers.config"/>

  <!-- Database connection information -->
  <database>
    <!-- 利用するデータベースを指定する。 providers.configのname属性とマッチすること -->
    <provider name="SQLite3"/>
    <!-- 接続文字列 -->
    <dataSource name="CloneBill" connectionString="Provider=Sqlite3;Data source=.\Db\CloneBill.db"/>
  </database>

  <!-- 定義したSQL文のファイルを登録する -->
  <sqlMaps>
    <sqlMap resource="./Db/SQL.xml" />
  </sqlMaps>

</sqlMapConfig>
